@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: linear-gradient(to bottom right, #0f172a, #1e1b4b, #000);
  color: yellow(246, 248, 248);
  font-family: system-ui, sans-serif;
}


